/* Base body styles */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: white;
}


/* Legend and fieldset */
.form-fieldset {
    border: 1px solid black;
    border-radius: 12px;
    padding: 2rem;
}

legend {
    font-weight: bold;
    font-size: 1.3rem;
    color: #1B5E20;
}

/* Title */
h2 {
    color: #1B5E20;
    font-weight: bold;
}

/* Labels */
.form-label {
    font-weight: 500;
    color: black;
}

/* Inputs & select */
.form-control,
.form-select {
    border-radius: 10px;
    font-size: 0.85rem;
    padding: 10px;
    border: 1px solid black;
}

/* Checkbox */
.form-check-label {
    color: black;
    font-size: 0.85rem;
}

/* Button */
.btn {
    background-color: #01381d;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    padding: 10px;
}

.btn:hover {
    background-color: rgb(60, 158, 60);
}

/* Full-page hero styling */

.login-side-image {
    object-fit: cover;
}

.login-logo {
    max-width: 180px;
}

